.u-section-1 {
  background-image: url("images/e4.jpg");
  background-position: 50% 50%;
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 19px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 6px 82px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  margin: 31px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/xx-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 316px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
    background-position: 32.77% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 50px 60px 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 634px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-1 {
    min-height: 478px;
    background-position: 36.67% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-2 {
  background-image: url("images/photo-1557683316-973673baf926.jfif");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -39px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 441px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 376px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 441px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  margin: 72px 87px 0 54px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 39px 169px 0 54px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  margin: 28px auto 0 54px;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 449px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-1 {
    height: 304px;
    /*margin-top: -310px;*/
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 364px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 83px;
    margin-left: 2px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-2 .u-image-1 {
    height: 233px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 411px;
    background-position: 32.77% 50%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 477px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 50px 60px 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 507px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    height: 304px;
    margin-top: -200px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 234px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    height: 228px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 478px;
    background-position: 36.67% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: url("images/PBX-Background-Blend.jpg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -66px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 553px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 50px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  margin: 59px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 6px 82px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  margin: 31px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 553px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 331px;
  height: 531px;
  margin: 22px auto 0 82px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 449px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 456px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 411px;
    background-position: 32.77% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
    height: 501px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 477px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 50px 60px 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 507px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 478px;
    background-position: 36.67% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1334px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  width: 681px;
  font-family: Oswald, sans-serif;
  text-transform: none;
  margin: 70px auto 0;
}

.u-section-4 .u-line-1 {
  width: 849px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 34px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 1109px;
  margin-top: 35px;
  margin-bottom: 5px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-4 .u-gallery-1 {
    height: 914px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
    grid-gap: 17px 17px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3025px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2800px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2325px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1547px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1322px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 291px;
}

.u-section-5 .u-group-1 {
  min-height: 110px;
  width: 800px;
  margin: 24px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 29px 60px 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 -170px -179px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 208px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-2 {
  width: 225px;
  font-size: 4.5rem;
  margin: 13px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 208px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-4 {
  width: 225px;
  font-size: 4.5rem;
  margin: 13px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 208px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-6 {
  width: 225px;
  font-size: 4.5rem;
  margin: 13px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 208px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-8 {
  width: 225px;
  font-size: 4.5rem;
  margin: 13px auto 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-2 {
    width: 186px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-4 {
    width: 186px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-6 {
    width: 186px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-8 {
    width: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-2 {
    width: 142px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-4 {
    width: 142px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-6 {
    width: 142px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-8 {
    width: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-text-2 {
    width: 133px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-text-4 {
    width: 133px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-text-6 {
    width: 133px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-text-8 {
    width: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-2 {
    width: 112px;
    font-size: 3.75rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-4 {
    width: 112px;
    font-size: 3.75rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-6 {
    width: 112px;
    font-size: 3.75rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-8 {
    width: 112px;
    font-size: 3.75rem;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(71,138,201,0.7), rgba(71,138,201,0.7)), url("images/closeupofthreebusinesspeoplehandsusingtheirsmartphoneswhileridingtheelevator_swgbe9_9r__F0000.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 603px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 87px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 429px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-1 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 4.5rem;
  margin: 45px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 30px 0 45px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-6 .u-form-1 {
  height: 287px;
  width: 376px;
  margin: 45px auto;
}

.u-section-6 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-form-1 {
    width: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 71px;
    margin-bottom: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 93px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-6 .u-form-1 {
    height: 306px;
    width: auto;
    margin: 26px 108px 26px 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 71px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 2px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 {
  background-image: url("images/xc.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 402px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 666px;
  margin: 40px auto 0 237px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  margin: 28px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-7 .u-image-1 {
  width: 196px;
  height: 60px;
  margin: 40px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 549px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 195px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 611px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 55px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 39px;
    padding-right: 39px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-7 .u-image-1 {
    height: 82px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 28px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-7 .u-image-1 {
    height: 60px;
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 339px;
    margin-bottom: 40px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }
}